# neverallow is hit for the below rule
#allow mpdecision self:capability sys_ptrace;
allow mpdecision system_data_file:dir write;
allow mpdecision system_data_file:sock_file write;
