type sensorservice, domain;
type sensorservice_exec, exec_type, file_type;

init_daemon_domain(sensorservice)

binder_use(sensorservice)

allow sensorservice mediaserver:service_manager {find};
