allow system_server efs_file:dir search;
allow system_server sensors_efs_file:file { open read };
allow system_server sysfs_vibeamp:dir search;
allow system_server sysfs_vibeamp:file { open read write };
allow system_server time_daemon:unix_stream_socket connectto;
