allow system_app shell_data_file:dir search;
allow system_app sysfs_vibeamp:dir search;
allow system_app sysfs_vibeamp:file { getattr open read write };
