[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group samsung_klte
	push = group samsung_klte
	label-Code-Review = -2..+2 group samsung_klte
	label-Verified = -1..+1 group samsung_klte
	rebase = group samsung_klte
	submit = group samsung_klte
	forgeAuthor = group samsung_klte
	forgeCommitter = group samsung_klte
