allow hal_wifi_default sysfs_wifi_fw_path:file w_file_perms;
allow hal_wifi_default wifi_data_file:file r_file_perms;
allow hal_wifi_default wifi_efs_file:dir r_dir_perms;
allow hal_wifi_default wifi_efs_file:file r_file_perms;
