type_transition mm-qcamerad system_data_file:sock_file camera_socket;

allow mm-qcamerad camera_socket:sock_file create_file_perms;

# Allow mm-qcamera-daemon to create the socket camera_socket
allow mm-qcamerad system_data_file:dir w_dir_perms;

allow mm-qcamerad vendor_file:file execmod;
