get_prop(mpdecision, freq_prop)

# /dev/cpuctl/cpu.notify_on_migrate
allow mpdecision cgroup:file read;

allow mpdecision mpctl_data_file:dir w_dir_perms;
allow mpdecision mpctl_data_file:sock_file create_file_perms;
